<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
  </head>
  <body style="background-color: #f1f1f1;">
    <table width="600px" align="center" cellspacing="0" cellpadding="32" style="background-color: #fff;">
      <tr>
        <td style="padding: 0;">
          <img src="{{banner_url}}" alt="Banner de {{tipi_name}}">
        </td>
      </tr>
      <tr>
        <td style="padding: 0;">
          <table width="100%" cellspacing="0" cellpadding="32" style="background: #F5F6F8;">
            <tr style="vertical-align: top;">
              <td>
                <p style="margin: 0; padding-top: 32px; width: 82px; color:#DD766F; font-family: Arial; font-size: 64px; font-style: normal; font-weight: 700; line-height: 100%; border-top: 8px solid #DD766F">45</p>
                <p style="margin: 0; color: #354250; font-family: Arial; font-size: 32px; font-style: normal; font-weight: 700; line-height: 100%;"><span style="font-size: 24px;">iniciativas de</span> <br>Libertad de expresión</p>
              </td>
              <td style="text-align: right;">
                <a href="{{tipi_backend}}/emails/unsubscribe/{{alert.id}}/{{search.hash}}" style="color: #354250; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; text-decoration: none; border: 4px solid #354250; white-space: nowrap; padding: 8px; line-height: 24px; text-transform: uppercase; ">Cancelar Alerta <img style="vertical-align: middle;" src="{{tipi_frontend}}/img/alerts/bell.png"></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding: 0;">
          <table width="100%" cellspacing="0" cellpadding="32">
            <tr>
              <td style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><span style="padding: 2px; background: #f4e4b0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 400; line-height: 140%;">NUEVA INICIATIVA</span></p>
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
                <p style="margin: 0 0 16px 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 24px; text-transform: uppercase; "><img src="{{tipi_frontend}}/img/alerts/{{initiative.author_parliamentarygroups}}.png" style="vertical-align: middle; margin-right: 8px;">{{initiative.author_parliamentarygroups}}</p>
                <p style="margin: 0 0 16px 0; line-height: 2.5;">
                  <a href="" style="color: #FFF; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; line-height: 16px; text-transform: uppercase; padding: 8px; background:#C74540; text-decoration: none; display: inline-block;">ODS 1</a>
                </p>
                <p style="margin: 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 1; text-transform: uppercase; ">
                  <img src="{{tipi_frontend}}/img/alerts/{{initiative.status}}.png" style="vertical-align: middle;"> {{initiative.status}}
                </p>
              </td>
              <td style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><span style="padding: 2px; background: #f4e4b0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 400; line-height: 140%;">NUEVA INICIATIVA</span></p>
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
                <p style="margin: 0 0 16px 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 24px; text-transform: uppercase; "><img src="{{tipi_frontend}}/img/alerts/{{initiative.author_parliamentarygroups}}.png" style="vertical-align: middle; margin-right: 8px;">{{initiative.author_parliamentarygroups}}</p>
                <p style="margin: 0 0 16px 0; line-height: 2.5;">
                  <a href="" style="color: #FFF; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; line-height: 16px; text-transform: uppercase; padding: 8px; background:#6F9A52; text-decoration: none; display: inline-block;">ODS 3</a>
                  <a href="" style="color: #FFF; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; line-height: 16px; text-transform: uppercase; padding: 8px; background:#D27750; text-decoration: none; display: inline-block;">ODS 6</a>
                </p>
                <p style="margin: 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 1; text-transform: uppercase; ">
                  <img src="{{tipi_frontend}}/img/alerts/{{initiative.status}}.png" style="vertical-align: middle;"> {{initiative.status}}
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><span style="padding: 2px; background: #f4e4b0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 400; line-height: 140%;">NUEVA INICIATIVA</span></p>
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
                <p style="margin: 0 0 16px 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 24px; text-transform: uppercase; "><img src="{{tipi_frontend}}/img/alerts/{{initiative.author_parliamentarygroups}}.png" style="vertical-align: middle; margin-right: 8px;">{{initiative.author_parliamentarygroups}}</p>
                <p style="margin: 0 0 16px 0; line-height: 2.5;">
                  <a href="" style="color: #FFF; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; line-height: 16px; text-transform: uppercase; padding: 8px; background:#BB4067; text-decoration: none; display: inline-block;">ODS 10</a>
                  <a href="" style="color: #FFF; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; line-height: 16px; text-transform: uppercase; padding: 8px; background:#2F5583; text-decoration: none; display: inline-block;">ODS 16</a>
                  <a href="" style="color: #FFF; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; line-height: 16px; text-transform: uppercase; padding: 8px; background:#6F9A52; text-decoration: none; display: inline-block;">ODS 3</a>
                  <a href="" style="color: #354250; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; line-height: 16px; text-transform: uppercase; padding: 8px; background:#F5F6F8; text-decoration: none; display: inline-block;">...</a>
                </p>
                <p style="margin: 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 1; text-transform: uppercase; ">
                  <img src="{{tipi_frontend}}/img/alerts/{{initiative.status}}.png" style="vertical-align: middle;"> {{initiative.status}}
                </p>
              </td>
              <td style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><span style="padding: 2px; background: #f4e4b0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 400; line-height: 140%;">NUEVA INICIATIVA</span></p>
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
                <p style="margin: 0 0 16px 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 24px; text-transform: uppercase; "><img src="{{tipi_frontend}}/img/alerts/{{initiative.author_parliamentarygroups}}.png" style="vertical-align: middle; margin-right: 8px;">{{initiative.author_parliamentarygroups}}</p>
                <p style="margin: 0 0 16px 0; line-height: 2.5;">
                  <a href="" style="color: #FFF; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; line-height: 16px; text-transform: uppercase; padding: 8px; background:#7A2D3B; text-decoration: none; display: inline-block;">ODS 8</a>
                  <a href="" style="color: #FFF; font-family: Arial; font-size: 12px; font-style: normal; font-weight: 700; line-height: 16px; text-transform: uppercase; padding: 8px; background:#D27750; text-decoration: none; display: inline-block;">ODS 6</a>
                </p>
                <p style="margin: 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 1; text-transform: uppercase; ">
                  <img src="{{tipi_frontend}}/img/alerts/{{initiative.status}}.png" style="vertical-align: middle;"> {{initiative.status}}
                </p>
              </td>
            </tr>
  
            <!-- Espaciador -->
            <tr><td></td></tr>
  
            <tr>
              <td colspan="2" style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><span style="padding: 2px; background: #f4e4b0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 400; line-height: 140%;">NUEVA INICIATIVA</span></p>
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
                <p style="margin: 0 0 16px 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 24px; text-transform: uppercase; "><img src="{{tipi_frontend}}/img/alerts/{{initiative.author_parliamentarygroups}}.png" style="vertical-align: middle; margin-right: 8px;">{{initiative.author_parliamentarygroups}}</p>
                <p style="margin: 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 1; text-transform: uppercase; ">
                  <img src="{{tipi_frontend}}/img/alerts/{{initiative.status}}.png" style="vertical-align: middle;"> {{initiative.status}}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><span style="padding: 2px; background: #f4e4b0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 400; line-height: 140%;">NUEVA INICIATIVA</span></p>
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
                <p style="margin: 0 0 16px 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 24px; text-transform: uppercase; "><img src="{{tipi_frontend}}/img/alerts/{{initiative.author_parliamentarygroups}}.png" style="vertical-align: middle; margin-right: 8px;">{{initiative.author_parliamentarygroups}}</p>
                <p style="margin: 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 1; text-transform: uppercase; ">
                  <img src="{{tipi_frontend}}/img/alerts/{{initiative.status}}.png" style="vertical-align: middle;"> {{initiative.status}}
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><span style="padding: 2px; background: #f4e4b0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 400; line-height: 140%;">NUEVA INICIATIVA</span></p>
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
                <p style="margin: 0 0 16px 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 24px; text-transform: uppercase; "><img src="{{tipi_frontend}}/img/alerts/{{initiative.author_parliamentarygroups}}.png" style="vertical-align: middle; margin-right: 8px;">{{initiative.author_parliamentarygroups}}</p>
                <p style="margin: 0; color: #1D1D1B; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 1; text-transform: uppercase; ">
                  <img src="{{tipi_frontend}}/img/alerts/{{initiative.status}}.png" style="vertical-align: middle;"> {{initiative.status}}
                </p>
              </td>
            </tr>
  
            <!-- Espaciador -->
            <tr><td></td></tr>
  
  
            <tr>
              <td colspan="2" style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding-bottom: 0;">
                <p style="margin: 0 0 8px 0;"><a href="{{tipi_frontend}}/iniciativas/{{initiative.id}}" style="color: #1D1D1B; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 700; line-height: 150%; text-decoration: none;">{{initiative.title}}</a></p>
              </td>
            </tr>
  
            <!-- Espaciador -->
            <tr><td></td></tr>
  
            <tr>
              <td colspan="2" style="text-align: center;">
                <a href="{{tipi_frontend}}/buscar" style="background: #DD766F; padding: 12px 32px; color: #FFF; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 700; line-height: 24px; text-transform: uppercase; text-decoration: none; ">Consulta el resto de iniciativas</a>
              </td>
            </tr>
  
            <!-- Espaciador -->
            <tr><td></td></tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="border-top: 8px solid #000; padding: 0;">
          <img src="{{banner_url}}" alt="Banner de {{tipi_name}}">
        </td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <p style="color: #1D1D1B; text-align: center; font-family: Arial; font-size: 16px; font-style: normal; font-weight: 400; line-height: 150%;">Con Parlamento 2030, cualquier persona u organización, con independencia de su origen, recursos o capacidades, puede conocer lo que ocurre en el Congreso de los Diputados en clave Agenda 2030. Lo entendemos como un servicio público y nos comprometemos a ofrecerlo de forma abierta y gratuita.</p>
        </td>
      </tr>
      <tr>
        <td style="color: #1D1D1B; opacity: 0.5; text-align: center; font-family: Arial; font-size: 14px; font-style: normal; font-weight: 400; line-height: 150%;">
          <p>Lorem ipsum dolor sit amet consectetur. Ornare sed mi vitae quis aliquet consequat pretium. Enim scelerisque congue id lectus tellus vitae. Interdum placerat lectus dignissim curabitur nisi a nisi dignissim vitae. Viverra dolor egestas eleifend integer aenean quam risus accumsan quis.</p>
          <p>Sit tellus ultrices nulla lectus vitae <a href="mailto: qhld@politicalwatch.es" style="color: #0081B9; font-weight: 700;">qhld@politicalwatch.es</a></p>
          <p>Mauris tellus nunc convallis pretium sem et. Nec ac lectus proin adipiscing dictumst id. Ipsum gravida id sed magna posuere. Vel viverra auctor vel mauris volutpat vitae. Pharetra gravida ac mi risus sit nibh non ullamcorper fusce. Eu nam enim quis ultrices mattis malesuada in ac. Senectus eu tortor et tristique convallis non vel tempor hac. Tortor turpis felis sodales fringilla fermentum et consectetur donec sed.</p>
          <p>
            Ac sem leo feugiat iaculis eu aliquam dui. Purus commodo quis aliquet sit.
            Placerat fringilla ultrices nec sapien adipiscing.
            Email: <a href="mailto: coordinacion@unmundosalvadorsoler.org" style="color: #0081B9; font-weight: 700;">coordinacion@unmundosalvadorsoler.org</a>
          </p>
          <p>Vitae commodo eu nulla adipiscing tincidunt Política de privacidad mauris.</p>
        </td>
      </tr>
    </table>
  </body>
</html>
