<html>
  <body>
    <p>¡Hola!</p>
    <p>Has solicitado suscribirte al sistema de alertas de {{tipi_name}} para recibir todas las novedades parlamentarias en base a los siguientes criterios:</p>
    <p>
      <strong>Iniciativas {{search_sentence}}</strong>
    </p>
    <p>Antes de que comiences a recibir alertas, necesitamos que confirmes tu registro haciendo click en el siguiente enlace:</p>
    <pre>{{validate_url}}</pre>
    <p>Tienes {{timeout}} días para validarla. Si el enlace no te funciona, copia la dirección y pégala en tu navegador</p>
    <p>Si no has sido tú quién se ha registrado para recibir esta alerta, significa que alguien ha introducido tu dirección de correo en nuestro sistema. Si crees que no ha sido un error, ponte en contacto con nosotros lo antes posible. Para ello, puedes escribirnos a {{tipi_email}}</p>
    <p>Gracias por tu interés.</p>
    <p>El equipo de {{tipi_name}}.</p>
    <hr>
    <p>Puede consultar toda la información detallada sobre nuestra <a href="https://quehacenlosdiputados.es/politica-de-privacidad" target="_blank">Política de Privacidad</a> en nuestra web.</p>
  </body>
</html>
